<!-- <div class="loader-container">
    <svg class="spinner">
        <circle class="path" cx="50" cy="50" r="40"></circle>
    </svg>
</div> -->


<!-- <div class="loader-container">
    <svg class="spinner">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
</div> -->



<!-- <div class="loader-container">
    <p class="loader-title">Loading...</p>
    <svg class="spinner">
        <circle class="path" cx="80" cy="80" r="70"></circle>
    </svg>
</div> -->


<!-- 3 loading circle -->

<div class="loading-wrapper">
    <div class="loading"></div>
</div>