<div class="container">
    <h3 class="text-center">Player's brief Information</h3>
    <input type="text" name="serarch" id="name" class="form-control" [(ngModel)]="playername"
        placeholder="Filter Player">
    <table class="table table-hover table-bordered text-center">
        <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Player Name</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Age</th>
                <th scope="col">Number Of 4</th>
                <th scope="col">Number Of 6</th>
                <th scope="col">Country</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i = index;let data of PlayersData | filterPlayers: playername" (click)="getplayer(data)">
                <td>{{i + 1}}</td>
                <td>{{data.name}}</td>
                <td>{{data.dob}}</td>
                <td>{{data.dob | age}}</td>
                <td>{{data.noOf4}}</td>
                <td>{{data.noOf6}}</td>
                <td>{{data.team}}</td>
            </tr>
        </tbody>
    </table>
</div>


<ng-container *ngIf="!isMobileView">
    <div class="lorem">
        <div class="ldoor"></div>
        <div class="loadings" id="LoadingGifs">
            <h3 class="loadingtitle">Please wait...</h3>
            <img style="border-radius: 60%;" width="70%" height="60%"
                src="https://3.bp.blogspot.com/-iQFocpjuGjs/TgnDritgKZI/AAAAAAAAIUQ/qsfKEnaf1Tc/s1600/3D_GIF_01.gif"
                alt="nm">
        </div>
        <div class="rdoor"></div>
    </div>
</ng-container>


<div class="loadingBox" *ngIf="playername?.length == 1">
    <ul>
        <li class="LoadignDots">
            .............................................................................................................................................................................................................................................................................................
        </li>
        <li class="LoadignDots">
            .........................................................................................................................................................................................................................................................................
        </li>
        <li class="LoadignDots">
            ...........................................................................................................................................................................................................................................
        </li>
        <li class="LoadignDots">
            .....................................................................................................................................................................................................................................................
        </li>
        <li class="LoadignDots">
            ........................................................................................................................................................................................................................................
        </li>
        <li class="LoadignDots">
            ........................................................................................................................................................................................................................................................................
        </li>
        <li class="LoadignDots">
            ..................................................................................................................................................................................................................................................................................
        </li>
        <li class="LoadignDots">
            ........................................................................................................................................................................................................................
        </li>
        <li class="LoadignDots">
            ......................................................................................................................................................................................
        </li>
    </ul>
</div>